body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: calc(1vw + 10px);
    --backgroundColor:#1E1E1E;
    --secondaryColor1:#252526;
    --secondaryColor2:#393939;
    --textColor1: #FFFFFF;
    --textColor2: #D1D2D2;
    --textColor3:#9BDCFE;
    --headerColor:#C8754D;
    --highlightColor:#569CD6;
    background: var(--backgroundColor);
    color:var(--textColor1)
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  p,h1,h2{
    margin:0;
  }
  