.timeline-section>h2{
    color:var(--headerColor);
    font-size: 3em;
    text-align: center  ;
}

.timeline-container{
    height:100vh;
    position:relative
}

.timeline{
    height:100%;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}

.timeline::before{
    content:'';
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:2px;
    height:100%;
    background:var(--textColor1);
}

.timeline>h3{
    color:var(--backgroundColor);
    background:var(--textColor1);
    padding:0.1em 2em;
    border-radius:1em;
    font-size: 1.5em;
    text-align: center  ;
    position: relative;

}

.timeline>img{
    font-size: 1em;
    width:5em;
    height:5em;
    border-radius: 50%;
    border: 0.2em solid var(--textColor2);
    margin:auto;
    margin-top: 1em;
    display:block;
    position: relative;
}